<form action="/restaurants/{{{restaurant.id}}}/edit?_method=PUT" method="POST">
  <h1 class="mb-1 restaurant-show-title"><input type="text" placeholder="name" name="name"
      value="{{{restaurant.name}}}"></h1>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <input type="text" placeholder="category" name="category" value="{{{restaurant.category}}}">
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input type="text" placeholder="location" name="location" value="{{{restaurant.location}}}">
          <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
            <i class="fas fa-location-arrow pr-2 fa-xs"></i>
          </a>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input type="text" placeholder="phone" name="phone" value="{{{restaurant.phone}}}">
        </p>

        <p class="mb-5">
          <input type="text" placeholder="description" name="description" value="{{{restaurant.description}}}">
        </p>

        <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}"
          style="max-width: 600px;">
      </div>
    </div>
  </div>



  <div class="form-row">
    <div class="form-group col-md-3 ">
      <label for="edit_image">更改圖片連結</label>
      <input type="text" placeholder="image" name="image" id="edit_image" value="{{{restaurant.image}}}">
    </div>
    <div class="form-group col-md-3 ">
      <label for="edit_google_map">更改地址連結</label>
      <input type="text" placeholder="google_map" name="google_map" id="edit_google_map"
        value="{{{restaurant.google_map}}}">
    </div>
    <div class="form-group col-md-3 ">
      <label for="edit_rating">更改評分</label>
      <input type="text" placeholder="rating" name="rating" id="edit_rating" value="{{{restaurant.rating}}}">
    </div>
    <div class="form-group col-md-3 ">
      <label for="edit_name_en">餐廳英文名稱</label>
      <input type="text" placeholder="name_en" name="name_en" id="edit_name_en" value="{{{restaurant.name_en}}}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">確認修改資訊</button>
</form>